* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .meals {
    padding-top: 0px;
  }
  
  .meals .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 225vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative;
    color: #000000;
    text-align: center;
  }
  
  .meals .hero-content {
    z-index: 2;
    text-align: center;
    font-size: 2.5rem; /* Adjusted font size */
    margin-bottom: 2rem; /* Add margin to separate from buttons */
    padding: 0 1rem; /* Add padding for smaller screens */
    flex-direction: column; /* Ensure vertical alignment */
    justify-content: center; /* Center text vertically */
    color: #000000;
  }
  
  .meals .hero-buttons {
    z-index: 2;
    display: flex;
    gap: 1.5rem; /* Space between buttons */
    justify-content: center; /* Center buttons horizontally */
    margin-top: 2rem; /* Add margin to move the button down */
    
  }
  
.meals .btn {
  padding: 0.5rem 1rem; /* Smaller padding */
  border: none;
  border-radius: 2px;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1rem; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove underline from links */
  min-width: 150px
}

  
  .meals .btn.primary {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .meals .btn:hover {
    background: #f0f0f0;
  }
  .search-section {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
  }
  
  .search-box {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .meals iframe {
    width: 90%;
    max-width: 1200px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 0;
  }